<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">



    <link name="base_link">
        <inertial>
            <origin xyz="-0.021131 -0.0016302 0.056488" rpy="0 0 0" />
            <mass value="0.88556" />
            <inertia ixx="0.0030595" ixy="0.00012259" ixz="-0.00062705" iyy="0.0037783" iyz="0.00027023" izz="0.0020125" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="assets/link_base.stl" />
            </geometry>
            <material name="White" />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="assets/link_base.stl" />
            </geometry>
        </collision>
    </link>
    <link name="link1">
        <inertial>
            <origin xyz="-0.021131 -0.0016302 0.056488" rpy="0 0 0" />
            <mass value="0.88556" />
            <inertia ixx="0.0030595" ixy="0.00012259" ixz="-0.00062705" iyy="0.0037783" iyz="0.00027023" izz="0.0020125" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="assets/link1.stl" />
            </geometry>
            <material name="White" />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="assets/link1.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="joint1" type="revolute">
        <origin xyz="0 0 0.267" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="link1" />
        <axis xyz="0 0 1" />
        <limit lower="-6.28318530718" upper="6.28318530718" effort="50" velocity="3.14" />
        <dynamics damping="10" friction="1" />
    </joint>
    <link name="link2">
        <inertial>
            <origin xyz="-0.021131 -0.0016302 0.056488" rpy="0 0 0" />
            <mass value="0.88556" />
            <inertia ixx="0.0030595" ixy="0.00012259" ixz="-0.00062705" iyy="0.0037783" iyz="0.00027023" izz="0.0020125" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="assets/link2.stl" />
            </geometry>
            <material name="White" />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="assets/link2.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="joint2" type="revolute">
        <origin xyz="0 0 0" rpy="-1.5708 0 0" />
        <parent link="link1" />
        <child link="link2" />
        <axis xyz="0 0 1" />
        <limit lower="-2.059" upper="2.0944" effort="50" velocity="3.14" />
        <dynamics damping="10" friction="1" />
    </joint>
    <link name="link3">
        <inertial>
            <origin xyz="-0.021131 -0.0016302 0.056488" rpy="0 0 0" />
            <mass value="0.88556" />
            <inertia ixx="0.0030595" ixy="0.00012259" ixz="-0.00062705" iyy="0.0037783" iyz="0.00027023" izz="0.0020125" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="assets/link3.stl" />
            </geometry>
            <material name="White" />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="assets/link3.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="joint3" type="revolute">
        <origin xyz="0 -0.293 0" rpy="1.5708 0 0" />
        <parent link="link2" />
        <child link="link3" />
        <axis xyz="0 0 1" />
        <limit lower="-6.28318530718" upper="6.28318530718" effort="30" velocity="3.14" />
        <dynamics damping="5" friction="1" />
    </joint>
    <link name="link4">
        <inertial>
            <origin xyz="-0.021131 -0.0016302 0.056488" rpy="0 0 0" />
            <mass value="0.88556" />
            <inertia ixx="0.0030595" ixy="0.00012259" ixz="-0.00062705" iyy="0.0037783" iyz="0.00027023" izz="0.0020125" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="assets/link4.stl" />
            </geometry>
            <material name="White" />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="assets/link4.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="joint4" type="revolute">
        <origin xyz="0.0525 0 0" rpy="1.5708 0 0" />
        <parent link="link3" />
        <child link="link4" />
        <axis xyz="0 0 1" />
        <limit lower="-0.19198" upper="3.927" effort="30" velocity="3.14" />
        <dynamics damping="5" friction="1" />
    </joint>
    <link name="link5">
        <inertial>
            <origin xyz="-0.021131 -0.0016302 0.056488" rpy="0 0 0" />
            <mass value="0.88556" />
            <inertia ixx="0.0030595" ixy="0.00012259" ixz="-0.00062705" iyy="0.0037783" iyz="0.00027023" izz="0.0020125" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="assets/link5.stl" />
            </geometry>
            <material name="White" />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="assets/link5.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="joint5" type="revolute">
        <origin xyz="0.0775 -0.3425 0" rpy="1.5708 0 0" />
        <parent link="link4" />
        <child link="link5" />
        <axis xyz="0 0 1" />
        <limit lower="-6.28318530718" upper="6.28318530718" effort="30" velocity="3.14" />
        <dynamics damping="5" friction="1" />
    </joint>
    <link name="link6">
        <inertial>
            <origin xyz="-0.021131 -0.0016302 0.056488" rpy="0 0 0" />
            <mass value="0.88556" />
            <inertia ixx="0.0030595" ixy="0.00012259" ixz="-0.00062705" iyy="0.0037783" iyz="0.00027023" izz="0.0020125" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="assets/link6.stl" />
            </geometry>
            <material name="White" />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="assets/link6.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="joint6" type="revolute">
        <origin xyz="0 0 0" rpy="1.5708 0 0" />
        <parent link="link5" />
        <child link="link6" />
        <axis xyz="0 0 1" />
        <limit lower="-1.69297" upper="3.14159265359" effort="20" velocity="3.14" />
        <dynamics damping="2" friction="1" />
    </joint>
    <link name="link7">
        <inertial>
            <origin xyz="-0.021131 -0.0016302 0.056488" rpy="0 0 0" />
            <mass value="0.88556" />
            <inertia ixx="0.0030595" ixy="0.00012259" ixz="-0.00062705" iyy="0.0037783" iyz="0.00027023" izz="0.0020125" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="assets/link7.stl" />
            </geometry>
            <material name="Silver" />
        </visual>
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <mesh filename="ufactory_xarm7/assets/end_tool.stl"/>
        </geometry>
        <material name="gray"/>
        </visual>
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <cylinder radius="0.003" length="0.15"/>
        </geometry>
        <material name="gray">
            <color rgba="0.9 0.9 0.9 1"/>
        </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="assets/link7.stl" />
            </geometry>
        </collision>
        <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <mesh filename="ufactory_xarm7/assets/end_tool.stl"/>
        </geometry>
        </collision>
        <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <cylinder radius="0.003" length="0.15"/>
        </geometry>
        <material name="gray">
            <color rgba="0.9 0.9 0.9 1"/>
        </material>
        </collision>
    </link>
    <joint name="joint7" type="revolute">
        <origin xyz="0.076 0.097 0" rpy="-1.5708 0 0" />
        <parent link="link6" />
        <child link="link7" />
        <axis xyz="0 0 1" />
        <limit lower="-6.28318530718" upper="6.28318530718" effort="20" velocity="3.14" />
        <dynamics damping="2" friction="1" />
    </joint>
</robot>
