<robot name="xarm7">

  <!-- Define materials -->
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="gray">
    <color rgba="0.753 0.753 0.753 1"/>
  </material>
  <material name="black">
    <color rgba="0.149 0.149 0.149 1"/>
  </material>

  <!-- Define links and inertial properties -->
  <link name="base_link">
    <inertial>
      <origin xyz="-0.021131 -0.0016302 0.056488" rpy="0 0 0"/>
      <mass value="0.88556"/>
      <inertia ixx="0.00382023" ixy="0" ixz="0" iyy="0.00335282" iyz="0" izz="0.00167725"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="assets/base_link.stl"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="assets/base_link.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="link1">
    <inertial>
      <origin xyz="-0.0002 0.02905 -0.01233" rpy="0 0 0"/>
      <mass value="2.382"/>
      <inertia ixx="0.00569127" ixy="0" ixz="0" iyy="0.00533384" iyz="0" izz="0.00293865"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="assets/link1.stl"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="assets/link1.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint1" type="revolute">
    <parent link="base_link"/>
    <child link="link1"/>
    <origin xyz="0 0 0.267" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.28319" upper="6.28319" effort="50" velocity="1.0"/>
    <dynamics damping="10" friction="1"/>
  </joint>

  <link name="link2">
    <inertial>
      <origin xyz="0.00022 -0.12856 0.01735" rpy="0 0 0"/>
      <mass value="1.869"/>
      <inertia ixx="0.00959898" ixy="0" ixz="0" iyy="0.00937717" iyz="0" izz="0.00201315"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="assets/link2.stl"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="assets/link2.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint2" type="revolute">
    <parent link="link1"/>
    <child link="link2"/>
    <origin xyz="0 0 0" rpy="1.5708 -1.5708 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.059" upper="2.0944" effort="50" velocity="1.0"/>
    <dynamics damping="10" friction="1"/>
  </joint>

  <link name="link3">
    <inertial>
      <origin xyz="0.0466 -0.02463 -0.00768" rpy="0 0 0"/>
      <mass value="1.6383"/>
      <inertia ixx="0.00351721" ixy="0" ixz="0" iyy="0.00294089" iyz="0" izz="0.00195868"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="assets/link3.stl"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="assets/link3.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint3" type="revolute">
    <parent link="link2"/>
    <child link="link3"/>
    <origin xyz="0 -0.293 0" rpy="1.5708 -1.5708 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.28319" upper="6.28319" effort="30" velocity="1.0"/>
    <dynamics damping="5" friction="1"/>
  </joint>

  <link name="link4">
    <inertial>
      <origin xyz="0.07047 -0.11575 0.012" rpy="0 0 0"/>
      <mass value="1.7269"/>
      <inertia ixx="0.00657137" ixy="0" ixz="0" iyy="0.00647948" iyz="0" izz="0.00186763"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="assets/link4.stl"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="assets/link4.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint4" type="revolute">
    <parent link="link3"/>
    <child link="link4"/>
    <origin xyz="0.0525 0 0" rpy="1.5708 -1.5708 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.19198" upper="3.927" effort="30" velocity="1.0"/>
    <dynamics damping="5" friction="1"/>
  </joint>

  <link name="link5">
    <inertial>
      <origin xyz="-0.00032 0.01604 -0.026" rpy="0 0 0"/>
      <mass value="1.3203"/>
      <inertia ixx="0.00534729" ixy="0" ixz="0" iyy="0.00499076" iyz="0" izz="0.0013489"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="assets/link5.stl"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="assets/link5.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint5" type="revolute">
    <parent link="link4"/>
    <child link="link5"/>
    <origin xyz="0.0775 -0.3425 0" rpy="1.5708 -1.5708 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.28319" upper="6.28319" effort="30" velocity="1.0"/>
    <dynamics damping="5" friction="1"/>
  </joint>

  <link name="link6">
    <inertial>
      <origin xyz="0.06469 0.03278 0.02141" rpy="0 0 0"/>
      <mass value="1.325"/>
      <inertia ixx="0.00245421" ixy="0" ixz="0" iyy="0.00221646" iyz="0" izz="0.00107273"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="assets/link6.stl"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="assets/link6.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint6" type="revolute">
    <parent link="link5"/>
    <child link="link6"/>
    <origin xyz="0.059 0 0" rpy="1.5708 -1.5708 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.28319" upper="6.28319" effort="30" velocity="1.0"/>
    <dynamics damping="5" friction="1"/>
  </joint>

  <link name="link7">
    <inertial>
      <origin xyz="0.00869 0.01662 0.01138" rpy="0 0 0"/>
      <mass value="0.71913"/>
      <inertia ixx="0.00025855" ixy="0" ixz="0" iyy="0.00038959" iyz="0" izz="0.00028891"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="assets/link7.stl"/>
      </geometry>
      <material name="white"/>
    </visual>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="ufactory_xarm7/assets/end_tool.stl"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.003" length="0.15"/>
      </geometry>
      <material name="gray">
        <color rgba="0.9 0.9 0.9 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="assets/link7.stl"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="ufactory_xarm7/assets/end_tool.stl"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.003" length="0.15"/>
      </geometry>
      <material name="gray">
        <color rgba="0.9 0.9 0.9 1"/>
      </material>
    </collision>
  </link>

  <joint name="joint7" type="revolute">
    <parent link="link6"/>
    <child link="link7"/>
    <origin xyz="0.088 0 0" rpy="1.5708 -1.5708 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.49066" upper="3.49066" effort="30" velocity="1.0"/>
    <dynamics damping="5" friction="1"/>
  </joint>


</robot>